<div class="orders">
  <div class="orders-list">
    <p class="title">Your order</p>
    <table class="highlight">
      <thead>
      <tr>
        <th>Название</th>
        <th>Количество</th>
        <th>Цена</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let item of order.list">
        <td>{{item.name}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.cost}} UAH.</td>
        <td><i class="material-icons pointer" (click)="removePosition(item)">delete</i></td>
      </tr>
      </tbody>
    </table>

    <div class="list-summary">
      <p>Общая стоимость <strong>{{order.price}} UAH.</strong></p>
    </div>
  </div>

  <div class="orders-footer">
    <button mat-raised-button color="primary"
            [disabled]="order.list.length === 0 || pending"
            (click)="submit()">Submit</button>
  </div>
</div>
