<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <div class="side-bar-layout">
      <ul>
        <li><p class="title">Admin</p></li>

        <li *ngFor="let link of links" routerLinkActive="active">
          <a [routerLink]="[link.url]">{{link.name}}</a>
        </li>
      </ul>

      <button mat-raised-button color="primary" (click)="logout($event)">Log out</button>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<!--<div class="fixed-action-btn" #floating>-->
<!--  <a class="btn-floating btn-large red">-->
<!--    <i class="large material-icons">add</i>-->
<!--  </a>-->

<!--  <ul>-->
<!--    <li>-->
<!--      <a [routerLink]="['/order']" class="btn-floating green"><i class="material-icons">assignment</i></a>-->
<!--    </li>-->

<!--    <li>-->
<!--      <a [routerLink]="['/categories/create']" class="btn-floating blue"><i class="material-icons">list</i></a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->

<!--<a id="menu" class="waves-effect waves-light btn btn-floating"><i class="material-icons">info</i></a>-->
