<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="input-field">
    <input formControlName="name"
           [ngClass]="{'invalid' : form.get('name').invalid && form.get('name').touched}"
           id="pos-name" type="text">

    <label for="pos-name">Product name</label>

    <span *ngIf="form.get('name').invalid && form.get('name').touched"
          class="helper-text red-text">
          <span *ngIf="form.get('name').errors['required']">Name is required</span>
        </span>
  </div>

  <div class="input-field">
    <input formControlName="description"
           [ngClass]="{'invalid' : form.get('description').invalid && form.get('description').touched}"
           id="pos-description" type="text">

    <label for="pos-description">Product description</label>

    <span *ngIf="form.get('description').invalid && form.get('description').touched"
          class="helper-text red-text">
          <span *ngIf="form.get('description').errors['required']">Description is required</span>
        </span>
  </div>

  <div class="input-field">
    <input formControlName="oldCost" id="pos-old-cost" type="number">

    <label for="pos-cost">Old Cost UAH</label>
  </div>

  <div class="input-field">
    <input formControlName="cost"
           [ngClass]="{'invalid' : form.get('cost').invalid && form.get('cost').touched}"
           id="pos-cost" type="number" min="1">

    <label for="pos-cost">Cost UAH</label>

    <span *ngIf="form.get('cost').invalid && form.get('cost').touched"
          class="helper-text red-text">
          <span *ngIf="form.get('name').errors['required']">Cost is required. Min value is 1</span>
        </span>
  </div>

  <button [disabled]="form.invalid || form.disabled"
          class="btn btn-primary" type="submit">Save
  </button>
</form>
