<div class="page-title">
  <h4>Products all:</h4>
  <button mat-raised-button color="primary" [routerLink]="['position/create']">
    Add product
  </button>
</div>

<div *ngIf="!loading; else loader">
  <div class="positions-list-layout" *ngIf="positions.length !== 0; else empty">
    <a *ngFor="let position of positions" [routerLink]="['position', position._id, 'edit']"
       class="layout-item">

      <div class="img-wrapper">

      </div>

      <p>{{position.name}} <strong> - {{position.cost}} UAH</strong></p>

      <mat-icon (click)="onDeletePosition($event, position)">delete</mat-icon>
    </a>
  </div>

  <ng-template #empty>
    <div class="center">Anyone position in category</div>
  </ng-template>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

