
$primary-text-color: #000000;
$muted-text-color: #dedcdc;

$font-montserrat: 'Montserrat', sans-serif;

$primary-link-color: #000000;
$primary-link-hover-color: #000000;
$secondary-link-color: #FFFFFF;
$secondary-link-hover-color: #FFFFFF;

$main-background: #ffffff;
$main-muted-background: #dedcdc;

$border-radius: 6px;
$border: 1px solid #dedcdc;

$primary-box-shadow: 0px 4px 12px #dedcdc;

$warn-color: #F44336;
$success-color: #3fce7b;





$accent-color: #3ADCFF;
$accent-muted-color: #0085FF;
$light-color: #ffffff;

$clinic1-color: #FEB6FF;
$clinic2-color: #FECB9E;

$muted-color: rgba(255, 255, 255, 0.64);
$muted-disabled-color: rgba(255, 255, 255, 0.42);


$primary-card-background: #323C79;
$secondary-card-background: #293372;
$light-background: #303974;
$dark-background: #141D3C;

$primary-vertical-gradient-background: linear-gradient(90deg, $light-background 1.98%, $dark-background 48.85%);
$primary-horizontal-gradient-background: linear-gradient(179.97deg, $light-background 0%, $dark-background 60.32%);
$accent-horizontal-gradient-background: linear-gradient(95.94deg, $accent-color 4.58%, #067DEC 85.5%);






$primary-button-color: #FFFFFF;
$primary-button-background: linear-gradient(126.37deg, #34BDDB 4.58%, #067DEC 85.5%);
$primary-button-hover-color: #FFFFFF;
$primary-button-active-color: #FFFFFF;

$secondary-button-color: #FFFFFF;
$secondary-button-background: #455698;
$secondary-button-hover-color: #FFFFFF;

$accent-button-color: #3ADCFF;
$accent-button-background: transparent;
$accent-button-border: 2px solid #3ADCFF;
$accent-button-hover-color: #3ADCFF;




